.container {
  background-color: $container-background;
  border: 1px solid darken($container-background, 10%);
}

.container .header {
  border-bottom: 1px solid darken($container-background, 10%);
  padding-top: 0.75em;
}

.container .content {
  padding-top: 0.75em;
  color: lighten($body-font-color, 20%);
}

.container .footer {
  background-color: darken($container-background, 10%);
  padding: 0.75em;
  text-align: right;
  color: $primary-color;
}

.status-bad {
  color: $alert-color;
}

.status-good {
  color: $success-color;
}

button.close {
  @include button-base;
  @include button-size;
  @include button-style($alert-color, 0, false);
  color: white;
}

button.close:hover {
  color: white;
}