.container {
  background-color: $container-background;
  border: 1px solid darken($container-background, 10%);

  .header {
    border-bottom: 1px solid darken($container-background, 10%);
    padding-top: rem-calc(12);
  }

  .content {
    padding-top: rem-calc(12);
    color: lighten($body-font-color, 20%);
  }

  .footer {
    background-color: darken($container-background, 10%);
    padding: rem-calc(12);
    text-align: right;
    color: $primary-color;
  }

  .status-bad {
    color: $alert-color;
  }

  .status-good {
    color: $success-color;
  }
}
