.bid.header, .offer.header {
  border-bottom: 1px solid darken($container-background, 25%);
}

.bid, .offer {
  padding: 0.75em;
  border-bottom: 1px solid darken($container-background, 15%);  
}

.bid.touch, .offer.touch {  
  background-color: #FFFFC7;
}

.bid {
  text-align: right;
  border-right: 1px solid transparent;
}

.offer {
}

.button.inline {
  margin: 0;
}