@import "foundation/scss/normalize";

$primary-color: #2069B0;
$secondary-color: #444444;
$alert-color: #FF726D;
$success-color: #6CB57B;
$global-radius: 2px;
@import "foundation/scss/foundation";

$fa-font-path: "../bower_components/font-awesome/fonts";
@import "font-awesome/scss/font-awesome";

$container-background: #FFFFFF;
@import "container";
@import "market-depth";
@import "market-order";

body {
  background: #24252C;
  padding: 1em;
}

.right {
  text-align: right;
}

label {
  margin-top: rem-calc(10);
}

.app {
  margin-bottom: rem-calc(20);
}

.select2-container {
  width: 100%;
}

.select2-container .select2-choice {
  height: 2.3125em;
  line-height: 2.125em;
  font-size: 0.875em;
  border-radius: 0;
}

.select2-container .select2-choice .select2-arrow {
  border-radius: 0;
}