<div class="col-md-12" ng-controller="CollectionCtrl">

<h1>{{collectionUser}}'s collection</h1>
<form ng-submit="addToCollection(selectedObject.name, expansionCode,condition,newCard_foil,newCard_private,newCard_public)">

 <input ng-model="search" type="text" typeahead="card.name for card in groupSearchByCard($viewValue)" typeahead-on-select="onSelect($item, $model, $label)">

<select ng-model="expansionCode" ng-options="instrument.expCode as instrument.expName for instrument in selectedObject.instruments | unique:'instrument.expName'"></select>
<select ng-model="condition" ng-options="instrument.condition as instrument.condition for instrument in selectedObject.instruments | unique:'condition'"></select>


Foil: <input type="checkbox"
       ng-model="newCard_foil">
Number Privately owned: <input type="text"
       ng-model="newCard_private">
Number owned on Tinstreet: <input type="text"
       ng-model="newCard_public">
       <input type="submit">
</form>
<table class="table table-striped">
<thead><tr>
<th>Name</th>
<th>Expansion</th>
<th>Condition</th>
<th>Foil?</th>
<th>Number owned privately</th>
<th>Number owned on Tin Street</th>
<th></th>
</tr></thead>
<tbody>
<tr ng-repeat="card in collection">
<td editable-text="card.name" ng-disabled=true e-typeahead="card.name for card in groupSearchByCard($viewValue)" buttons="no" >{{card.name}}</td>
<td editable-select="card.expCode" e-ng-options="pcard.expCode as pcard.expName for pcard in editingCard | unique:'expName'" buttons="no" onshow="searchCard(card.name)" onhide="saveModifiedCard(card)">{{card.expName}}</td>
<td editable-select="card.condition" e-ng-options="pcard.condition as pcard.condition for pcard in editingCard | unique:'condition'" buttons="no" onshow="searchCard(card.name)" onhide="saveModifiedCard(card)">{{card.condition}}</td>
<td editable-select="card.foil" e-ng-options="s.value as s.text for s in foilArray" buttons="no" onshow="searchCard(card.name)" onhide="saveModifiedCard(card)">{{translateFoilStatus(card.foil)}}</td>
<td editable-text="card.privatePosition" onhide="saveModifiedCard(card)" buttons="no">{{card.privatePosition}}</td>
<td>{{card.hostedPosition}}</td>
<td><span ng-click="deleteItem(card.itemID)">Delete</span></td>
</tr>
</tbody>
</table>

</div>
